In [3]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

job_listings = pd.DataFrame({
    'job_id': [1, 2, 3],
    'title': ['Data Scientist', 'Software Engineer', 'Product Manager'],
    'description': ['Seeking a data scientist with experience in machine learning.',
                    'Looking for a software engineer proficient in Python and Java.',
                    'Product manager with strong communication and leadership skills.']
})
job_listings.head()

,job_id,title,description
0,1,Data Scientist,Seeking a data scientist with experience in ma...
1,2,Software Engineer,Looking for a software engineer proficient in ...
2,3,Product Manager,Product manager with strong communication and ...

In [4]:
user_profiles_data = {
    'user_id': [1, 2],
    'skills': ['Python, Machine Learning', 'Java, Communication']
}

user_profiles = pd.DataFrame(user_profiles_data)
user_profiles.head()

   user_id                    skills
0        1  Python, Machine Learning
1        2       Java, Communication